@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .shadow-medium {
        @apply shadow-[0_7.5px_20px_-5px_rgb(0_0_0_/_0.3)];
    }
}
@layer components {
    .button {
        @apply transition px-[1.75rem] py-[.475rem] font-medium rounded-md box-border hover:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.2)] active:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.4)] disabled:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.4)];
    }
    .hover-darken {
        @apply hover:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.1)] active:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.2)];
    }
    .button.active {
        @apply text-mint dark:text-tiffany font-semibold;
    }
    .big-button {
        @apply button px-[3.5rem] py-[1rem] text-xl;
    }
    .light-hover {
        @apply hover:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.1)] active:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.2)];
    }
    .form-input {
        @apply font-medium text-gunmetal dark:text-seasalt !outline-0 !ring-0 grow sm:min-w-[250px] border px-2 py-[10px] rounded-md transition border-gunmetal/20 bg-gunmetal/5 focus-visible:border-gunmetal/40 focus-visible:bg-gunmetal/[.15] dark:border-seasalt/20 dark:bg-seasalt/5 dark:focus-visible:border-seasalt/40 dark:focus-visible:bg-seasalt/10;
    }
    .wrapper {
        @apply flex flex-wrap flex-col;
    }
    .link-nav > a {
        @apply transition py-2 px-5 rounded text-gunmetal dark:text-seasalt;
    }
    .link-nav > a:hover {
        @apply hover:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.1)] active:shadow-[0_0_0_100vmax_inset_rgb(0,0,0,.2)];
    }
    .card {
        @apply flex flex-col gap-3 px-3 py-5 grow shadow-medium rounded-xl;
    }
    .tag-container {
        @apply flex gap-3;
    }
    .tag {
        @apply text-xs font-light bg-gunmetal dark:bg-charcoal text-seasalt dark:text-flash rounded px-3 py-[2px];
    }
    .devider {
        @apply flex w-full my-16 gap-10 px-10 items-center justify-center;
    }
    .devider-line {
        @apply sm:block hidden grow border-[1px] rounded-full border-gunmetal/25 dark:border-seasalt/25;
    }
}
#profile > .wrapper {
    @apply w-1/3;
}
option {
    @apply bg-seasalt text-gunmetal dark:bg-gunmetal dark:text-seasalt hover:bg-mint hover:text-gunmetal;
}
body {
    @apply selection:bg-mint selection:text-gunmetal bg-seasalt dark:bg-gunmetal;
}
.link-nav > [data-active="true"] {
    @apply text-mint dark:text-tiffany;
}

:root {
    --nav-height: 70px;
    --toastify-color-dark: #e9ecef;
    --toastify-color-light: #2c3e50;
    --toastify-text-color-light: #e9ecef;
    --toastify-text-color-dark: #2c3e50;
}
.Toastify__toast {
    @apply shadow-medium;
}
